@use "../global" as g;

.p-article {
  padding-top: 50px;
  h1,
  h2,
  p {
    padding: 3px 2px;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  h1 {
    font-size: 3rem;
    line-height: 2;

    span {
      padding: 10px 0;
      background-color: g.$highlight;
    }
  }

  h2 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  &__intro {
    p:first-of-type {
      font-size: 1.3rem;
    }
  }

  @include g.mq() {
    h1 {
      @include g.fs_vw(30);

      span {
        @include g.py_vw(10, 10);
      }
    }

    h2 {
      @include g.fs_vw(27);
    }
  }

  @include g.mq(sm) {
    h1 {
      @include g.fs_vw(37, 600);

      span {
        @include g.py_vw(10, 10, 600);
      }
    }

    h2 {
      @include g.fs_vw(34, 600);
    }

    p {
      @include g.fs_vw(28, 600);
    }

    &__intro {
      p:first-of-type {
        @include g.fs_vw(20, 600);
      }
    }
  }
}
